<!DOCTYPE html>
<html>
  <head>
    <title>Altify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

<h1>- Glorify -</h1>

<div id="banner"></div>
  <div id="body">
    <body>
      <%= yield %>
    </body>
  </div>


    <div id="block"></div>
</html>
